@model IEnumerable <Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fa fa-video-camera"></i> Movies</h2>
<p>
    <a href="@Url.Action("New", "Movies")" class="btn btn-primary">
        <i class="fa fa-plus"></i> New Movie
    </a>
</p>

<table id="movies" class="table table-bordered table-hover table-responsive display nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th><i class="fa fa-info-circle"></i> Movies Name</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#movies").DataTable({
                rowReorder: {
                    selector: 'td:nth-child(2)'
                },

                responsive: true,

                ajax: {
                    url: "/api/Movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<Button class='btn-link js-delete' data-movie-id=" + data + "><i class='fa fa-trash-o'></i> Delete</Button>";
                        }
                    }
                ]
            });

            //new $.fn.dataTable.FixedHeader(table);

            $("#movies").on("click", ".js-delete", function() {
                var button = $(this);
                bootbox.confirm("Are you sure to Delete Movie?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function() {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
