@model IEnumerable<Vidly.Models.Customers>
@{
    ViewBag.Title = "Customers List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Customers</h1>
<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>
<table id="customers" class="table table-bordered table-hover table-responsive display nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Customers Name</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/Customers/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/Customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<Button class='btn-link js-delete' data-customer-id=" + data + ">Delete</Button>";
                        }
                    }
                ]
            });


            $("#customers").on("click", ".js-delete", function() {
                var button = $(this);
                bootbox.confirm("Are you sure want to delete customer?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
